/* login */
.U_BS_L {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: url(../images/backgroundBanner.jpg) no-repeat top/cover padding-box border-box;
    background-size: cover;
}
.U_BS_L_H_Form {
    padding: 75px;
    /* box-shadow: #dbdbdb 2px 0 37px 2px; */
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 20px;
    text-align: center;
}
.U_BS_L_H_Form h4 {
    margin: 20px 0 50px;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    color: #828283;
}
.form-control {
    display: block;
    width: 275px;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #b7b7b7;
    background-color: #fff;
    border: solid 1px rgba(77, 77, 77, 0.2);
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control::-webkit-input-placeholder {
    color:    #b7b7b7;
}
.form-control:-moz-placeholder {
   color:    #b7b7b7;
}
.form-control::-moz-placeholder {
   color:    #b7b7b7;
}
.form-control:-ms-input-placeholder {
   color:    #b7b7b7;
}
.U_BS_L_Info {
    display: block;
    height: 20px;
    padding: 10px 3px;
    color: #e4393c;
    font-size: 14px;
    text-align: left;
}
.U_BS_L_Submit {
    width: 100%;
    height: 49px;
    border-radius: 20px;
    border: 0;
    background: #5ea7fd;
    color: #fff;
    outline:none;
}
/* login end */